<div class="div-list">


    <div class="row">
      <%= link_to edit_user_path(user), title: %(Edit "#{user.name}") do %>
      <div class="medium-5 columns">
        <strong><%= user.name %></strong><br/>
        <%= user.email %>
      </div>
      <div class="medium-2 columns">
        <ul class="inline-list show-for-medium-up">
          <% user.roles.each do |role| %>
            <li class="secondary label radius">
              <%= role.name %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="large-2 columns hide-for-medium-down">
        <%= user.location %>
      </div>
      <div class="medium-5 large-3 columns">
        <span class="hide-for-large-up"><%= user.location %> <br/></span>
        <span class="hide-for-small"><%= user.description %></span>
        <ul class="inline-list show-for-small">
          <% user.roles.each do |role| %>
            <li class="secondary label radius">
              <%= role.name %>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>

</div>
