<div class="row">
  <%= link_to edit_user_path(user), title: %(Edit "#{user.name}") do %>
  <div class="medium-6 columns">
    <strong><%= user.name %></strong><br/>
    <ul class="inline-list">
    <% user.roles.each do |role| %>
      <li class="secondary label radius">
        <%= role.name %>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="medium-6 columns">
    <%= user.location %> <br/>
    <%= user.description %>
  </div>
  <% end %>
</div>

