<% content_for :title, 'Home Page' %>

<div class="row text-center">
  <div class="medium-8 small-centered columns welcome-back-greeting">
    <% if current_user.created_at > 1.minute.ago %>
        <div class="confirm-greeting">
          <i class="fa fa-thumbs-up fa-5x"></i>
          <h1>Success!</h1>
          <h2>Thank you <%= current_user.first_name %> for creating an account for the Wavetronix app.</h2>
          <p>If you are a distributor or employee, your new account will provide you with exclusive access to articles, brochures, and publications from Wavetronix.</p>
        </div>
    <% else %>
      <h1>Hey! Welcome back, <%= current_user.first_name %></h1>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    <% if current_user.created_at > 1.minute.ago %>
      <h3>What next</h3>
    <% else %>
      <h3>Download the app</h3>
    <% end %>
    <p>If you have not downloaded the app, please do so by visiting the app store of your choice:
    <ul class="no-bullet app-links">
      <li><%= link_to image_tag('apple_app_store.png'), 'https://itunes.apple.com/us/app/wavetronix/id840962745?ls=1&mt=8', target: '_blank' %></li>
      <li><%= link_to image_tag('google_play.png'), 'https://play.google.com/store/apps/details?id=com.wavetronix.wavetronix' %></li>
      <li><%= link_to image_tag('windows_store.png'), 'http://apps.microsoft.com/windows/app/wavetronix/5f652365-b23e-494e-b92a-1ea4155fbc0b', target: '_blank' %></li>
    </ul>
    If you already have the Wavetronix app installed on your device, you should recieve a confirmation email shortly enabling your account.</p>
  </div>
  <hr class="show-for-small"/>
  <div class="medium-4 columns home-help-divider">
    <h3>Help signing in on the app</h3>
    <ul class="no-bullet">
      <%= link_to nil do %>
        <li>
          <h4>iOS</h4>
          <p>Click here for instructions on how to sign in to the app on your iOS device</p>
        </li>
      <% end %>
      <%= link_to nil do %>
        <li>
          <h4>Droid</h4>
          <p>Click here for instructions on how to sign in to the app on your android device</p>
        </li>
      <% end %>
      <%= link_to nil do %>
        <li>
          <h4>Windows</h4>
          <p>Click here for instructions on how to sign in to the app on your windows device</p>
        </li>
      <% end %>
    </ul>
  </div>
  <hr class="show-for-small"/>
  <div class="medium-4 columns">
    <h3>Help or feedback</h3>
    <p>You can submit your feedback or request help at our <%= link_to "help request form", 'http://www.wavetronix.com/en/products/wavetronix_app', target: '_blank' %>.</p>
  </div>
</div>
