<%= form_for @role do |f| %>
  <%= content_tag :div, class: 'alert-box radius alert' do %>
    <h4><%= pluralize @role.errors.count, 'error' %> kept this form from submitting:</h4>
    <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end if @role.errors.any? %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <fieldset>
    <legend>Users</legend>
    <ul class="no-bullet">
      <%= f.collection_check_boxes :user_ids, User.order(:last_name, :first_name), :id, :name do |cb| %>
        <li>
          <%= cb.check_box %>
          <%= cb.label %>
        </li>
      <% end %>
    </ul>
  </fieldset>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.submit class: 'button radius expand' %>
    </div>
    <div class="medium-6 columns">
      <% unless params[:action] == 'new' || params[:action] == 'create' %>
        <%= link_to 'Delete Role', role_path(@role), class: 'button radius expand delete', data: { confirm: %(Are you sure you want to delete "#{@role.name}?" This cannot be undone.) }, method: :delete %>
      <% end %>
    </div>
  </div>
<% end %>
